@inherits LayoutComponentBase
@inject LoginState loginstate;
@inject NavigationManager Navigation;


@if (loginstate.IsLoggedIn)
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}
else
{
    @Body
}


@code {

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        if (!loginstate.IsLoggedIn)
        {
            Console.Write("Rederect to login");
            Navigation.NavigateTo("/");
        }
    }
}