@inject LoginState loginstate;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="index">Taskory</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @if (!loginstate.SA)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                    <span class="oi oi-minus" aria-hidden="true"></span> Your tasks
                </NavLink>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> Organisations
                </NavLink>
            </li>
        }
        @if (loginstate.IsAdmin)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="adminview">
                    <span class="oi oi-home" aria-hidden="true"></span> Admin Window
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
