@page "/adminview"
@inject LoginState loginstate;
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration






@if (loginstate.IsAdmin)
{
    @if (org == null)
    {
        <p><em>Loading ...</em></p>
    }
    else
    {
        <h3>@org.Name</h3>
        <TaskManagement o=org />
        <UserManagement o=org />

    }
}
@code {
    private Organisation org;


    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        Console.WriteLine("Doing something");

        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri(configuration["API"]);

        var response = await client.GetAsync($"api/Organisations/{loginstate.UserID}");
        org = await response.Content.ReadFromJsonAsync<Organisation>();
        Console.WriteLine(org);
    }
}
