@page "/index"

@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@inject LoginState loginstate;


@if (!loginstate.SA)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-9"><h4>Your Tasks</h4></div>
            <div class="col-sm-3">@DateTime.Now.ToString("dd.MM.yyyy")</div>

            <div class="col-sm-12">
                <UserTasks o=o />
            </div>
        </div>
    </div>

}
else
{
    <OrganisationManagement/>
}

@code
    {
    private Organisation o { get; set; } = new Organisation();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        if (!loginstate.SA)
        {
            //api for organisation
            HttpClient client = new HttpClient();
            client.BaseAddress = new Uri(configuration["API"]);

            var response = await client.GetAsync($"api/Organisations/{loginstate.UserID}");
            o = await response.Content.ReadFromJsonAsync<Organisation>();
        }
    }
}