@page "/"
@inject LoginState loginstate;
@inject NavigationManager Navigation;
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration


<div style="height:200px;"></div>
<div style="width:100%; text-align:center;">
    <table style="width:100%; text-align:center;">
        <tr>
            <td>
                <h1>login</h1>
            </td>
        </tr>
        <tr hidden="@String.IsNullOrEmpty(notes)">
            <td>
                <label>@notes</label><br />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" @bind="username" /><br />
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" @bind="password" /><br />
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" @onclick="login">test</button><br />
            </td>
        </tr>
    </table>
</div>

@*<i> run this in terminal luci: dotnet watch -p /Users/lucienkaser/Documents/Development/Taskory.git/Taskory.WebApp run</i>*@

@code {
    private string notes;
    private string username;
    private string password;
    private int count;

    private async System.Threading.Tasks.Task login()
    {
        //Console.WriteLine("API -> " + configuration["API"]);
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri(configuration["API"]);


        var response = await client.GetAsync($"api/User?username={username}&password={password}");
        Console.Write(response.Content.Headers);
        var transmitioncode = await response.Content.ReadAsStringAsync();
        Console.WriteLine();

        if (String.IsNullOrEmpty(transmitioncode) || transmitioncode.ToLower().Equals("false"))
            notes = $"Invalid username or password {count++}";
        else
        {
            loginstate.Username = username;
            loginstate.IsLoggedIn = true;
            loginstate.OrganisationID = Convert.ToInt32(transmitioncode.Split("-")[2]);
            loginstate.IsAdmin = Convert.ToInt32(transmitioncode.Split("-")[0]) % 79 == 0;
            if (loginstate.IsAdmin)
                loginstate.UserID = Convert.ToInt32(transmitioncode.Split("-")[0]) / 79;
            else
                loginstate.UserID = Convert.ToInt32(transmitioncode.Split("-")[0]);
            loginstate.SA = Convert.ToInt32(transmitioncode.Split("-")[0]) == 9973;
            loginstate.Transmitioncode = transmitioncode;
            notes = "login completed";

            Navigation.NavigateTo("/Index");
            
        }


    }
}